<!-- <p-table [value]="mar">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Nombre</th> 
            <th>Editar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mar>
        <tr>
            <td>{{mar.marca.id}}</td>
            <td>{{mar.marca.nombre}}</td>

            <td><a pButton
                pRipple
                icon="pi pi-pencil"
                class="by-cyan-600 mr-1"
                [routerLink]="['edit/',mar.marca.id]">
            </a>
            </td>
        </tr>
    </ng-template>
</p-table> -->
